/* ========================= */
/* BACKGROUND LOGIN PREMIUM */
/* ========================= */

.login-background {
  background: url("https://images.pexels.com/photos/7563545/pexels-photo-7563545.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat center center/cover;

  min-height: 100vh;
  position: relative;
}

/* overlay escuro elegante */
.login-background::before {
  content: "";
  position: absolute;
  inset: 0;
}


/* container acima do overlay */
.login-container {
  position: relative;
  z-index: 2;
}

/* card estilo Airbnb */
.login-card {
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.25);
}

.button.is-dark {
  background-color: #ff6b35;
  border-color: #ff6b35;
}

.button.is-dark:hover {
  background-color: #e55a2b;
}

.button.is-light {
  border: 1px solid #ddd;
}

/* ========================= */
/* TITULO LOGIN */
/* ========================= */

.login-title {
  text-align: center;
  margin-bottom: 25px;
}

.brand-name {
  font-size: 3rem;
  font-weight: 700;
  color: #ff6b35;
  letter-spacing: 3px;
  transition: all 0.3s ease;
}

.brand-subtitle {
  font-size: 1rem;
  color: #555;
  transform: scale(1.05);
}

/* ========================= */
/* HOVER BOTÕES REGISTRO */
/* ========================= */

.button.is-light {
  transition: all 0.25s ease;
}

.button.is-light:hover {
   background-color: rgba(255, 107, 53, 0.1);
  color: #ff6b35;
  border-color: #ff6b35;
}

.register-btn {
  transition: all 0.25s ease;
}

.register-btn:hover {
  background-color: #ff6b35;
  color: white;
  border-color: #ff6b35;
}


